:root {
  --screen-mobile-min: 425px;
}

/* Reset styles */
body {
  margin: 0;
  background: #f4f7f6;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}
p {
  margin: 0;
}
figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a:hover {
  text-decoration: underline;
}

/* Helper classes */
.width-max-1240 { max-width: 1240px; }
.x-center { margin: 0 auto; }
.y-center { transform: translateY(50%); }
.none-text-decoration { text-decoration: none; }
.text-center { text-align: center; }
.hidden-desktop { display: none; }

.color-header { color: #222; }
.color-text-secondary { color: #585858; }

.f-weight-500 { font-weight: 500;}
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }

.pd-18 { padding: 18px; }
.pdx-15 { padding: 0 15px; }
.pdy-32 { padding: 32px 0; }
.pdt-32 { padding-top: 32px; }
.pdb-32 { padding-bottom: 32px; }

.mgy-32 { margin: 32px 0; }
.mgt-10 { margin-top: 10px; }
.mgb-11 { margin-bottom: 11px; }
.mgb-20 { margin-bottom: 20px; }
.mgb-32 { margin-bottom: 32px; }

.absolute { position: absolute; }
.clearfix::after {
  content: ".";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0;
}

@media screen and (max-width: 768px) {
  .hidden-desktop { display: block; }
  .hidden-mobile { display: none; }
}

/* page styles */
.head-title {  
  padding: 24px 15px 32px;
  position: relative;
}
.title {
  font-size: 26px;
  color: #222;
}

.thumb {
  margin-bottom: 20px;
  background: white;
  /* background: white;
  width: 32%;
  float: left;
  margin-left: 1.2%; */
}  
.thumb-img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
}
.thumb-img:hover {
  transform: scale(1.05);
  opacity: 0.5; 
}
.icon {
  width: 25px;
  height: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
}
.icon:hover {
  transform: scale(1.05);
}
