body {
  margin: 0;
  background: #f4f7f6;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}
p {
  margin: 0;
}
figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.head-title {
  margin-left: 1.2%;
  padding-bottom: 2rem;
  text-align: center;
  position: relative;
}
  .head-title h2 {
    color: #444;
  }

.thumb {
  background: white;
  width: 32%;
  float: left;
  margin-left: 1.2%;
}  
  .thumb h2 {
    font-size: 16px;
  }
  .thumb a {
    font-weight: 500;
    text-decoration: none;    
  }
    .thumb a:hover  {
      text-decoration: underline;
    }
  .thumb .technologies {
    font-size: 14px;
    color: #585858;
  }
.thumb-img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
}
.thumb-img:hover {
  transform: scale(1.05);
  opacity: 0.5; 
}
.thumb-body {
  padding: 1.2rem;
}
.row {
  margin-bottom: .7rem;
}

.block {
  padding-top: 2rem;
}
.inner {
  max-width: 1240px;
  margin: 0 auto;
}


.icon {
  width: 25px;
  height: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
}
  .icon:hover {
    transform: scale(1.05);
  }
.social-icons a {
  text-decoration: none;
}

.mgb-20 {  margin-bottom: 20px; }
.absolute {
  position: absolute;
  transform: translateY(50%);
}
.clearfix::after {
  content: ".";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0;
}